/* grand.css */

.grand-intro {
  margin-bottom: 20px;
}

.grand-title h1 {
  font-size: 2em; /* Tamanho do título */
  color: #00ff00; /* Cor verde para o título, como no terminal */
  font-family: "Courier New", Courier, monospace; /* Fonte de terminal */
}

.grand-text {
  margin-top: 20px;
}

.image-container img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border: 2px solid #33ff33; /* Borda verde para combinar com o estilo terminal */
}
