/* Terminal.css */

body,
html {
  background-color: #000; /* Fundo preto em toda a página */
  color: #00ff00; /* Cor do texto verde para o estilo terminal */
  font-family: "Courier New", Courier, monospace; /* Fonte de terminal */
}

.terminal {
  background-color: #000; /* Fundo preto para o estilo de terminal */
  color: #00ff00; /* Cor do texto verde para parecer com um terminal retro */
  font-family: "Courier New", Courier, monospace; /* Fonte de terminal */
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  white-space: pre-wrap; /* Mantém os espaços e quebras de linha */
}

.terminal .Typewriter__cursor {
  font-size: 1.2em; /* Tamanho do cursor */
}

input {
  border: none; /* Remove a borda */
  outline: none; /* Remove a borda de foco padrão */
  background-color: transparent; /* Remove o fundo */
  color: #00ff00;
}

input:focus {
  outline: none; /* Remove qualquer outline no foco */
}

input ::placeholder {
  color: #00ff00;
}

.menu-title,
.menu-text {
  font-family: "Courier New", Courier, monospace; /* Fonte monoespaçada */
  white-space: pre-wrap; /* Preserve os espaços e quebras de linha */
  font-size: 14px; /* Tamanho de fonte ajustável para melhor visualização */
  line-height: 1.2; /* Espaçamento entre as linhas */
  color: #00ff00; /* Cor de texto que lembra terminais antigos */
  background-color: #000000; /* Fundo preto para simular um terminal */
  padding: 20px;
}
